<a href="https://colab.research.google.com/github/charlie-aashutosh/Machine-Learning/blob/master/Medical_Cost_Predictions_using_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing necessary packages
import numpy as np
import pandas as pd

Data Gathering

In [2]:
df=pd.read_csv("/content/insurance.csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Data Preprocessing

Convert the categorical variables into numerical variables - One Hot Encoding technique

In [4]:
df['sex']=df['sex'].apply({'male':0,'female':1}.get)

In [5]:
df['smoker']=df['smoker'].apply({'yes':1,'no':0}.get)

In [6]:
df['region']=df['region'].apply({'southeast':0,'southwest':1,'northeast':2,'northwest':3}.get)

In [7]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       1  16884.92400
1   18    0  33.770         1       0       0   1725.55230
2   28    0  33.000         3       0       0   4449.46200
3   33    0  22.705         0       0       3  21984.47061
4   32    0  28.880         0       0       3   3866.85520

In [28]:
df.describe()

               age          sex  ...       region       charges
count  1338.000000  1338.000000  ...  1338.000000   1338.000000
mean     39.207025     0.494768  ...     1.455904  13270.422265
std      14.049960     0.500160  ...     1.130888  12110.011237
min      18.000000     0.000000  ...     0.000000   1121.873900
25%      27.000000     0.000000  ...     0.000000   4740.287150
50%      39.000000     0.000000  ...     1.000000   9382.033000
75%      51.000000     1.000000  ...     2.000000  16639.912515
max      64.000000     1.000000  ...     3.000000  63770.428010

[8 rows x 7 columns]

Divide the dataset into dependent and independent columns

In [8]:
#Divide the dataset df into X and y
X=df[['age','sex','bmi','children','smoker','region']] #contains all the independent columns

y=df['charges'] #contains the dependent column

In [9]:
X.head()

   age  sex     bmi  children  smoker  region
0   19    1  27.900         0       1       1
1   18    0  33.770         1       0       0
2   28    0  33.000         3       0       0
3   33    0  22.705         0       0       3
4   32    0  28.880         0       0       3

In [10]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

Splitting the dataset :-

1. TRAINING 
2. TESTING

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.3) #30 percent of data used for testing purposes

In [12]:
len(X_train)

936

In [13]:
len(y_train)

936

In [14]:
len(X_test)

402

In [15]:
len(y_test)

402

Machine Learning Model Building

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
model=LinearRegression()

In [18]:
model.fit(X_train,y_train) #training step

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
predictions=model.predict(X_test)

In [20]:
predictions[0:5] #predicted values of Charges - 'y'

array([ 5355.21311717,  5503.32548326, 13564.48331714,  7044.28947425,
       10689.3761999 ])

In [21]:
model.score(X,y) #accuracy score

0.7502549823323721

Predictions with respect to new customer

In [44]:
data={'age':90,'sex':0,'bmi':33.7,'children':2,'smoker':0,'region':3}

index=[1]

cust_df=pd.DataFrame(data,index)

In [45]:
print(cust_df)

   age  sex   bmi  children  smoker  region
1   90    0  33.7         2       0       3

In [46]:
predictions_cust=model.predict(cust_df)
print("Insurance cost of new customer is",predictions_cust)

Insurance cost of new customer is [23148.72184926]