
Medical Cost Personal Insurance

In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snr
%matplotlib inline

Step 1: Loading and reading the data

In [2]:
#loading and reading the data
df=pd.read_csv("/content/insurance.csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Step 2: Data preprocessing

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
#one hot encoding to convert categorical data into numerical format
df['sex']=df['sex'].apply({'male':1,'female':0}.get)

In [7]:
df['smoker']=df['smoker'].apply({'yes':1,'no':0}.get)

In [8]:
df['region']=df['region'].apply({'southwest':1,'northwest':2,'southeast':3,'northeast':4}.get)

In [9]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       3   1725.55230
2   28    1  33.000         3       0       3   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [10]:
#divide data into independent and dependent sets

#independent set of data
X=df[['age','sex','bmi','children','smoker','region']]

In [11]:
X.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       1
1   18    1  33.770         1       0       3
2   28    1  33.000         3       0       3
3   33    1  22.705         0       0       2
4   32    1  28.880         0       0       2

In [12]:
#dependent set of data

y=df['charges']

In [13]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

Step 3: Model building using Linear Regression

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.4)

In [15]:
len(X_train)

802

In [16]:
len(y_train)

802

In [18]:
len(X_test)

536

In [19]:
len(y_test)

536

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
model=LinearRegression()
model.fit(X_train,y_train) #training of model is being done

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
predictions=model.predict(X_test)

In [23]:
predictions[0:5]

array([ 9350.49553507,  5585.03244348, 10457.39737846,  9800.39381929,
       31931.62309057])

In [31]:
#prediction for a new customer
data={'age':29,'sex':0,'bmi':20,'children':1,'smoker':1,'region':1}
index=[1]

cust_df=pd.DataFrame(data,index)

In [32]:
cust_df

   age  sex  bmi  children  smoker  region
1   29    0   20         1       1       1

In [33]:
prediction_cust=model.predict(cust_df)
print("Insurance cost for the new customer will be",prediction_cust)

Insurance cost for the new customer will be [25179.7365371]